*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #f2f2f2;
    --text-dark: #262626;
}

a{
    text-decoration: none;
}

.body-style{
    width: 90%;
    margin: 0 auto;
}

.logo{
    padding: 15px 20px;
    height: 3.5rem;
}

.nav-link{
    font-size: 13px;
    padding: 0 15px 0 15px;
    color: var(--text-dark);
}

.nav-icon{
    color: var(--text-dark);
    font-size: 18px;
    padding: 0 10px 0 10px;
}

section.carousel{
    margin-bottom: 10rem;
}
/* carousal */
#carouselExampleIndicators{
    margin-bottom: 6.5rem;
}
.carousel-item{
    height: 32rem;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel .carousel-inner .carousel-item .container{
    position: absolute;
    width: 40%;
    left: 6rem;
    top: 30%;
}

.carousel .carousel-inner .carousel-item .container p{
    text-wrap: balance;
}



/* .slider-item{
    position: relative;
    background-color: blue;
} */

.slider-text{
    position: absolute;
    top: 25%;
    left: 7%;
    background-color: transparent;
    height: 470px;
    width: 500px; 
}

.slider-text p{
    margin: 25px 0;
}

.slider-text a{
    margin-left: 30px;
    color: var(--text-dark);
    font-weight: 600;
}

.slider-text a:hover{
    border-bottom: 1px solid black;
}


section.container{
    margin-bottom: 5rem;
}




/* landing section */
.landing{
    background-image: url("../img/landing-3.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
}

/* for business section */
.card{
    height: 100%;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.card-text{
    flex-grow: 1;
}

.social__content{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.social__content p{
    font-size: 1.2rem;
}

.social__content i{
    font-size: 1.5rem;
}

.back__to-top{
    text-align: end;
}

/* footer section */

ul{
    list-style: none;
}

.footer .container .row .col-2 ul{
    padding-left: 0;
}

.footer .container .row .col-2 ul a{
    color: var(--text-dark);
    font-size: 11px;
}

.footer .container .row .col-2 ul a:hover{
    text-decoration: underline;
}


.footer__nav .row .col-6 a{
    font-size: 13px;
    color: var(--text-dark);
}

.footer__nav .row .col-6 a:hover{
    text-decoration: underline;
}
